  :root {
    color-scheme: dark;

    --font-main: "Montserrat", serif;
    --font-weight: 700;
    --font-style: normal;
    --font-alt: "Arial", sans-serif;
    --color-bg: #e0caa3;
    --color-text: #1f1f1f;
    --color-text-muted: #333333;
    --color-border: #d6cfc5;
    --max-width: 860px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min(960px, 92vw);
    padding: 24px;
  }


  /* 
  body {
      margin: 0;
      min-height: 100vh;
      display: grid;
      place-items: center;
      background: #0b0b0c;
      color: #eaeaea;
      font-family: var(--font-main);
  }


  h1 {
      margin: 0 0 12px 0;
      font-size: 18px;
      font-weight: var(--font-weight);
      font-style: var(--font-style);
      opacity: 0.9;
  }

  video {
      width: 100%;
      border-radius: 16px;
      background: #000;
      box-shadow: 0 10px 40px rgba(0, 0, 0, .55);
  }

  .meta {
      margin-top: 10px;
      font-size: 16px;
      opacity: 0.7;
      display: flex;
      justify-content: right;
      gap: 12px;
      flex-wrap: wrap;
  }

  a {
      color: inherit;
  }

 
.montserrat-dd {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

  :root {
    --font-main: "Montserrat", serif;
    --font-weight: 700;
    --font-style: normal;
    --font-alt: "Arial", sans-serif;
    --color-bg: #e0caa3;
    --color-text: #1f1f1f;
    --color-text-muted: #333333;
    --color-border: #d6cfc5;
    --max-width: 860px;
  }

  /* 
* {
  box-sizing: border-box;
}
} */
  body {
    padding-bottom: 50px;
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--color-text);
    width: 100%;
    margin: 0;
    min-height: 100vh;

    background:
      radial-gradient(circle at 20% 20%, #353738 0%, #0c0f1193 65%),
      linear-gradient(190deg, #8a4b2f 20%, #a67c6f 48%, #c4d7e0 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-size: 1.1rem;

  }

  h3 {
    line-height: .2;
    align-self: center;

  }

  .page-container {
    display: grid;
    margin: 5% auto;
    max-width: 1200px;
    max-height: auto;
    line-height: 1.7;
    border: 1px solid #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
    background: radial-gradient(circle at 20% 20%, rgba(105, 100, 91, 0.65), rgba(255, 249, 239, 0) 45%),
      linear-gradient(160deg, #d0d4d8 0%, #dce9f5 48%, #886e47 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;


  }

  .style-grid {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 5px;
    border-radius: 15px;

  }

  .small-video {
    width: 320px;
    /* desired target width */
    max-width: 100%;
    /* responsive fallback */
    height: auto;
    /* preserve aspect ratio */
    display: block;
    border-radius: 8px;
    /* optional */
    object-fit: contain;
    /* prevent cropping */
    pointer-events: none;
    /* allow clicks through if overlaying */
  }


  .content {
    margin-left: 25px;
    margin-right: 25px;


  }

  li {
    margin-left: 40px;

  }

  #network {
    margin-top: 30px;



  }

  .midgrid {
    display: grid;
    grid-template-columns: 25% 30% 30%;
    grid-template-rows: auto;
    /* gap: 28px; */
    align-items: start;

  }

  .headergrid {
    display: grid;
    grid-template-columns: 30% 50%;
    grid-template-rows: auto;
    gap: 12px;
    align-items: start;
    margin-top: 12px;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    line-height: .5;
  }

  .center-items {
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  .leftgrid {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .centergrid {
    display: flex;
    flex-direction: column;
    ;
    align-items: start;
    justify-content: center;
  }

  #port-chop {
    transform(scale:1.5)
  }

  .rightgrid {
    display: flex;
    flex-direction: column;
    ;
    align-items: start;
    justify-content: center;
  }

  p {
    line-height: 1;
  }

  /* 
.rightgrid a {
  display: inline-block;
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.25);
  transition: transform 120ms ease, background 120ms ease;
  
}

.rightgrid a:hover {
  color: var(--color-text);
  background: rgba(255, 255, 255, 0.45);
  transform: translateY(-1px);
} */

  .centergrid a {
    display: inline-block;
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.25);
    transition: transform 120ms ease, background 120ms ease;
    margin-bottom: 3px;

  }

  .centergrid a:hover {
    color: var(--color-text);
    background: rgba(255, 255, 255, 0.45);
    transform: translateY(-1px);
  }

  /* -------------------- */
  .rightgrid {
    display: flex;
    flex-direction: column;
    ;
    align-items: start;
    justify-content: center;
  }


  .rightgrid a {
    display: inline-block;
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.25);
    transition: transform 120ms ease, background 120ms ease;
    margin-bottom: 3px;

  }

  .rightgrid a:hover {
    color: var(--color-text);
    background: rgba(255, 255, 255, 0.45);
    transform: translateY(-1px);
  }


  /* 

.rightgrid h1 {
  margin: 0 0 16px;
  letter-spacing: 0.2px;
}

.rightgrid p {
  margin: 0 0 14px;
}

.rightgrid ul {
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
}

.rightgrid li {
  margin: 6px 0;
  
}

.rightgrid a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.25);
  transition: transform 120ms ease, background 120ms ease;
}

.rightgrid a:hover {
  color: var(--color-text);
  background: rgba(255, 255, 255, 0.45);
  transform: translateY(-1px);
} */


  .text-image {
    background-image: url(images/paper-horiz.png);
    background-size: cover;
    background-position: center;

    border: 1px solid #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;



    box-shadow:
      rgba(105, 100, 91, 0.65) 0px 4px 6px -1px,
      rgba(255, 249, 239, 0) 0px 2px 4px -1px,
      5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .quote-block {
    text-align: center;


    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }


  h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 1.5rem;
    margin: 28px 0 15px;
  }



  ul {

    margin-left: 2rem;
  }

  a {
    color: var(--color-text);
    text-decoration: underline;
    font-weight: 600;
  }

  a:hover {
    color: #fff;
  }


  #quote {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin: 0 0 0.25rem;
  }

  #author {
    margin-left: 47%;
    transform: translateX(-70%);
  }

  #logo {
    display: block;
    width: min(240px, 70%);
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
    filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.25));

  }

  #shift-right {
    display: inline-block;
  }

  .mirror {
    transform: scaleX(-1);
    display: inline-block;
  }

  .upside-down {
    transform: rotate(180deg);
    display: inline-block;
  }

  #height {
    margin-top: 20px;
  }

  @media (max-width: 760px) {
    .midgrid {
      grid-template-columns: 1fr;
    }

    #logo {
      width: min(200px, 60%);
    }
  }